---
import Layout from '@layouts/Root.astro'
import Head from '@components/head.astro'

import siteMetadata from '@data/siteMetadata.json'
---

<Head>
    <title>404{' | '}{siteMetadata.title}</title>
    <meta name='description' content={'404 page'} />
</Head>
<Layout pagePath='/404'>
    <div class='h-screen w-full flex flex-col justify-center'>
        <div class='text-center'>
            <h1
                class='mb-4 text-9xl font-bold font-mono text-center'
            >
                404
            </h1>

            <a
                class='text-[--accent-text-color] hover:text-[--link-hover-text-color]'
                href='/'
            >
                返回主页
            </a>
        </div>
    </div>
</Layout>
