---
import Head from '@components/head.astro'
import Box from '@components/box.astro'
import Link from '@components/link.astro'
import Layout from '@layouts/Root.astro'
import CenterH from '@components/utils/centerH.astro'

import siteMetadata from '@data/siteMetadata.json'
import PostService, { type PostInstance } from '@service/postService'

const ps = await PostService.init()
const posts = ps.getPosts()

const byYear = toByYear(posts)
const yearIndex = Object.keys(byYear).reverse()


function toByYear(posts: PostInstance[]) {
    type ByYear = Record<string, PostInstance[]>

    return posts.reduce<ByYear>((result, post) => {
        const date = new Date(post.frontmatter.date)
        const year = date.getFullYear()

        if (result[year] === undefined) result[year] = []
        result[year].push(post)

        return result
    }, {})
}
    
function dateToString (date: Date): string {
    return `${date.getMonth() + 1}-${date.getDate()}`
}
---
<Head>
    <title>归档{' | '}{siteMetadata.title}</title>
    <meta name="description" content={'归档页面'} />
</Head>
<Layout pagePath='/archives'>
    <CenterH className='lg:mt-8'>
        <Box className='xl:w-3xl lg:w-2xl md:w-xl w-full'>
            <div class='p-4'>
                <ul>
                    {
                        yearIndex.map((year) => (
                            <li>
                                <h3 class='text-2xl font-bold font-mono'>{ year }</h3>
                                <ul class='list-disc ml-8'>
                                    { byYear[year].map((post) => {
                                        const { date, title, slug } = post.frontmatter
                                        
                                        return (
                                            <li class='mt-1 space-x-2 border-b-2 border-dashed border-(--divider-color) text-neutral hover:text-secondary'>
                                                <time datetime={ date.toISOString() }>{ dateToString(date) }</time>
                                                <Link href={`/post/${slug}`}>{ title }</Link>
                                            </li>
                                        )
                                    })}
                                </ul>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </Box>
    </CenterH>
</Layout>