---
import Head from '@components/head.astro'
import Layout from '@layouts/Root.astro'
import IndexPage from '@layouts/Index.astro'

import siteMetadata from '@data/siteMetadata.json'
import config from '@data/config.json'

import { genPagePaths } from '@utils/astro'
import PostService from '@service/postService'

const ps = await PostService.init()
const posts = ps.getPosts()

const totalPage = Math.ceil(posts.length / config.itemsPerPage)
const pagePaths = genPagePaths('/page/', totalPage)
pagePaths[0] = '/'
---

<Head>
    <title>{siteMetadata.title}</title>
    <meta name='description' content={siteMetadata.description} />
</Head>
<Layout pagePath='/'>
    <IndexPage 
        currPage={1} 
        posts={posts} 
        pagePaths={pagePaths} 
    />
</Layout>
