@font-face {
  font-family: 'Heti Hei';
  src: url('/fonts/wqy-zenhei.woff') format('woff');
}

@font-face {
  font-family: 'ui-monospace';
  src: url('/fonts/liberation-mono-bold.woff') format('woff');
}

@font-face {
  font-family: 'WQY ZenHei Mono';
  src: url('/fonts/wqy-zenhei-mono.woff') format('woff');
}

@font-face {
  font-family: 'Delugia';
  src: url('/fonts/delugia-complete.woff') format('woff');
}

svg {
    width: 1em;
    height: 1em;
}