#root[data-theme="yoshino"] {
  --primary-color: #4ade80;               /* green-400 */
  --accent-color: #22c55e;                /* green-500 */
  --minor-color: #dcfce7;                 /* green-300 */

  --second-primary-color: #38bdf8;        /* sky-400 */
  --second-accent-color: #0ea5e9;         /* sky-500 */
  --second-minor-color: #7dd3fc;          /* sky-300 */   

  --primary-text-color: #4b5563;          /* gray-600 */
  --accent-text-color: #1f2937;           /* gray-800 */
  --minor-text-color: #6b7280;            /* gray-500 */

  --root-bg-color: #e5e7eb;               /* gray-200 */
  --primary-bg-color: #f3f4f6;            /* gray-100 */
  --accent-bg-color: #f9fafb;             /* gray-50 */

  --divider-color: #d1d5db;               /* gray-300 */
  --link-hover-text-color: var(--second-accent-color);       /* sky-400 */

  --outdated-bg-color: #fef3c7;           /* bg-amber-100 */
  --outdated-border-color: #f59e0b;       /* bg-amber-500 */
  --outdated-text-color: #d97706;         /* bg-amber-600 */

  --progress-bar-color: #0ea5e9; 


  --heti-primary-text-color: #333 ;
  --heti-blockquote-bg-color: #1098ad33;
  --heti-blockquote-border-color: var(--second-primary-color);
  --heti-hr-bg-color: var(--divider-color);
  --heti-code-text-color: #47769a;
  --heti-title-border-color: var(--primary-color);
  --heti-title-text-color: var(--primary-text-color);
  --heti-td-border-color: #aaa;
  --heti-link-text-color: var(--second-primary-color);
  --heti-link-hover-text-color: var(--second-accent-color);
  --heti-mark-bg-color: #fff700e0;
}

#root {
  color: var(--primary-text-color);
}