pre[class*=shiki] {
    padding: 16px;
    margin-bottom: 25px;
    overflow: auto;
    border-radius: 4px
}

pre[class*=shiki] code {
    color: #73a8cf;
}


/** code header **/
div[data-remark-code-title] {
    display: block;
    height: 36px;
    background-color: #646464;
    border-radius: 4px 4px 0px 0px;

    color: #d1d1d1;
    padding: 6px 6px 2px 8px;
    font-size: 16px;
}

div[data-remark-code-title] + pre {
    border-radius: 0px 0px 4px 4px !important;
}