---
import Svg from './svg.astro'
import Link from './link.astro'

interface Props {
    id: string
    name: string
    url: string
}

const { name, id, url } = Astro.props
const href = url.replace(/\{id\}/, id)
---

<div title={name}>
    <Link href={href} label={name}>
        <Svg
            id={name}
            class='w-7 h-7 text-base-content hover:text-secondary-content'
        />
    </Link>
</div>
