---
interface Props {
    href: string
    label?: string
}

const { href, label = 'A link' } = Astro.props;
---

<a class='hover:text-blue-500' aria-label={label}  href={href} target='_blank' rel='noreferrer'>
    <slot />
</a>
