---
interface Props {
    href: string
    label?: string
}

const { href, label = 'A link' } = Astro.props
---

<a
    class='hover:text-[--link-hover-text-color]'
    aria-label={label}
    href={href}
    target='_blank'
    rel='noreferrer'
>
    <slot />
</a>
