---
import Svg from './svg.astro'

interface Props {
    data: {
        name: string
        svgId: string
        path: string
    }[]
    defaultActiveKey: string
}

const { data, defaultActiveKey } = Astro.props

const itemActiveClass = 'border-r-4 border-[--accent-color] bg-[--minor-color]'
const itemTextClass = 'font-mono font-medium text-md text-center hover:text-[--accent-color]'
---
<ul class='list-none list-inside w-full'>
    {
        data.map((m) => (
            <li
                class={
                    'h-10 leading-10 hover:bg-[--accent-bg-color] '
                    + itemTextClass + ' '
                    + (m.path === defaultActiveKey ? itemActiveClass : '')
                }
            >
                <a href={m.path}>
                    <div>
                        <Svg id={m.svgId} class='w-5 h-5 mr-4 inline-block'/>
                        {m.name}
                    </div>
                </a>
            </li>
        ))
    }
</ul>