---
import PostHeader from './postHeader.astro'
import Divider from './divider.astro'
import Box from './box.astro'

import { type PostFrontmatter } from '@service/postService'

interface Props {
    frontmatter: PostFrontmatter
    path: string
}

const widthClass = ' xl:w-3xl lg:w-2xl md:w-xl w-full'
const buttonClass =
    'inline-block w-18 h-8 p-2 ' +
    'text-sm font-bold font-mono ' +
    'text-[--primary-bg-color] bg-[--second-primary-color] hover:bg-[--second-accent-color] ' +
    'shadow'

const { frontmatter, path } = Astro.props
const { excerpt } = frontmatter
---

<Box className={'p-6 ' + widthClass}>
    <article>
        <PostHeader frontmatter={frontmatter} titleLevel={2} />
        <Divider />
        <div class='heti m-auto pt-4 pl-2 !max-w-2xl' set:html={excerpt.html} />
    </article>
    <a class='block text-center mt-4' href={path}>
        <div class={buttonClass}>阅读更多</div>
    </a>
</Box>
